*/node_modules
**/train/overview_server/server/node_modules
**/train/overview_server/assignment2/node_modules
**/train/overview_server/assignment3/node_modules
**/train/overview_server/shop/node_modules